<% for(var index in result) { %>
    <div class="content_box">
        <div class="title_box">
            <h1><a href="<%= result[index].primary_category_id%>/<%= result[index].id%>"><li><%= result[index].page_title %></li></a></h1>
        </div>
        <% if(result[index].image != null) { %>
            <div class="picture_box">
                <a href="<%= result[index].primary_category_id%>/<%= result[index].id%>"><img class="imgProd" src= "/public/images/<%=result[index].image %>" />    </a>
            </div>
        <% } %>
        <div class="border"></div>
    </div>
    
<% } %>
