<!DOCTYPE html>
<html> 
    <body>  
    <body>  
       <main>
           <h1><%= items.name %></h1>
           <p><%= items.page_description %></p>
           <% for(var index in items.categories) { %>
               <h1><a href="<%= items.parent_category_id%>/<%= items.id%>"><li><%= items.page_title %></li></a></h1>
               <% if(items.image != null) { %>
                   <a href="<%= items.id%>"><img src= "/public/images/<%=items.image%>" /></a>
               <% } %>
               <p> <%= items.page_description%></p>
               <p> <%= items.image%></p>

 
           <% } %>
       </main>
    </body>
</html>