<% for(var index in items) { %>
    <div class="content_box">
            <div class="descriptionCat_box">
                </div>
        <div class="titleCat_box">
            <h1><a href="<%= items[index].primary_category_id%>/<%= items[index].id%>"><li><%= items[index].page_description %></li></a></h1>
        </div>
        <% if(items[index].Category != null) { %>
            <div class="picture_box">
                <a href="<%= items[index].primary_category_id%>/<%= items[index].id%>"><img class="imgProd" src= "/public/images/<%=items[index].Category.image%>" />    </a>
            </div>
        <% } %>
    </div>
    
<% } %>