<!DOCTYPE html>
<html> 
        <link href= "/CSS/ProductsStyle.css" rel="stylesheet" type = "text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body>
     
        <% if(items && items.length > 0) { %>
            <ul style="list-style: none;" id="row">
                <% _.each(items, function(topC) { %>
                        <li id="column" style="align-content: space-between">
                            <div style="align-content: space-between">
                                <h1><%= topC.name %></h1>
                                <% _.each(topC.image_groups, function(image) { %>
                                    <% if (image.view_type == 'medium' && !image.variation_value) { %>  
                                    <div>  
                                        <p style = "width: 500px;">
                                            <a href="/item/<%= topC._id %>">
                                                    <img style="float: left; margin-right: 10px; margin-bottom: 5px;" src="/images/<%= image.images[0].link %>">
                                                </a>
                                            <%= topC.page_description %>
                                                <p style = "font-weight: bold; text-align: left; display: inline-block; vertical-align: bottom">$<%= topC.price %></p>
                                                <form method = 'POST' action = '/cart' style="display: inline-block; vertical-align: bottom">
                                                    <input type="hidden" name="qty" class="qty" value="1">
                                                    <input type="hidden" name="productId" value="<%= topC.id %>">
                                                    <input type="submit" value="Buy!" >
                                                </form>
                                        </p>
                                    </div>
                                    <% } %>
                                <% }); %>
                             </div>
                        </li>
                <% }); %>
            </ul>
            <% } else { %>
                <p class="alert alert-info">Sorry, no products here.</p>
            <% } %>
    
    </body>
</html>